/* ---------------------- mini reset ----------------------- */
body{
    margin: 0;
    background: #fafafa;
}
body,h1,h2,p,a,input{
    font-family: 'Arvo', sans-serif;
    text-decoration: none;
}
.main.hide{
    display: none;
}
.main{
    animation: modalfadein 1s;
}

/* -------------------- landing page ------------------------ */
.showcase{
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
    animation: modalfadein 1s;
}

.showcase h1{
    font-size: 50px;
    line-height: 1.2;
    color: white;
}
.showcase a{
    font-size: 20px;
    color: white;
}
.showcase button{
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: transparent;
}
.showcase button:hover{
    background: #039be5;
    color: #ECEFF1;
}
.showcase.hide{
    display: none;
}
.intro-message{
    width: 50%;
}
.intro-message h1, .intro-message a {
    color: #f3b606;
}
.intro-message, .auth{
    float: left;
}
/* ----------------------- nav styles ---------------------- */
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: #2098D1;
    box-shadow: 0 0 6px;
}

.logo{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    color: #fafafa;
    cursor: pointer;
}

.nav-links {
    display:flex;
    justify-content: space-around;
    width: 20%;
    font-size: 16px;
    letter-spacing: 2px;
}

.nav-links li{
    list-style: none;
}
/* ------------------- link styles ---------------------- */
.link{
    color: #fafafa;
    margin-left: 10px;
    border-bottom: 1px solid #fafafa;
    padding: 4px;
    cursor: pointer;
}
.link:hover{
    background: #00BFFF;
    color: black;
}

/* ---------------------------- content styles --------------------- */
.content{
    margin: 40px 20px 40px 20px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* ---------------------------- modal styles --------------------------- */
.modal{
    width: 300px;
    padding: 30px;
    margin: 100px auto;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    text-align: center;
}
@-webkit-keyframes modalfadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes modalfadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* ------------------------------ form element styles ------------------------ */
input{
    display: block;
    margin: 8px 0;
    padding: 8px 2px;
    border-width: 0 0 2px 0;
    width: 100%;
}
button{
    margin-top: 10px;
    padding: 8px 12px;
    border: #00bfff 1px solid;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
    background: transparent;
}

button:hover{
    color: white;
    background: #039be5;
}

/* --------------------------- auth styles ------------------------ */
.auth a{
    text-decoration: underline;
    cursor: pointer;
    color: black;
    font-size: 16px;
}
.auth .modal{
    display: none;
}
.auth .modal.active{
    display: block;
    margin: 10px;
}
.forgot-password{
    display: none;
}
.forgot-password.open{
    display: block;
}

/* -------------------- profile picture upload ----------------------- */
.picture-upload{
    padding-top: 25px;
}
#uploader{
    -webkit-appearance: none;
    appearance: none;
    width: 25%;
    margin-bottom: 10px;
}

#fileButton{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.picture-upload label{
    margin-top: 10px;
    padding: 8px 12px;
    background: #00bfff;
    border: 0;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
}

/* -------------------------------- snackbar ------------------------------------- */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar-container{
    position :  fixed;
    bottom : 0;
    left : 50%;
}
.snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    margin-bottom : 20px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* -------------------------------------- sidebar ------------------------------------------------- */
.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 76px;
    left: 0;
    background-color: #2098D1;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
}

.sidenav a {
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
    margin: 40px 20px 40px 20px;
}
.sidenav h2{
    color: white;
}

.sidenav a:hover {
    color: #f1f1f1;
}

/* ---------------------------------------- sell product ------------------------------------------------ */
.sellProduct.open{
    display: block;
    animation: modalfadein 0.3s;
}
.sellProduct{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #fafafa;
    display: none;
    z-index: 1;
    text-align: center;
}
#sell{
    width: 800px;
}
.cancel{
    padding-top: 25px;
}
#product-list {
    display: flex;
    border-radius: 12px;
    justify-content: center;
    background-color: #333333;
}

#product-list a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
#product-list a:hover {
    background-color: #111111;
    cursor: pointer;
}

/* --------------------------------- main content --------------------------- */
.product{
    text-align: center;
    margin: 30px;
    border: #3F0F3F 1px solid;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.description, .price, .contact{
    margin: 20px;
}

.products{
    height: 82vh;
}
img{
    background-repeat: no-repeat;
    max-width: 120px;
    max-height: 120px;
    background-size: 30px;
    border-radius: 20px;
}
